@{
    ViewData["Title"] = "Estudio De Caso Josef";
}

<div class="text-center mt-5">
    <h1 class="mb-4">Estudio De Caso Josef</h1>
    <p class="mb-4 text-muted">
       Estudio de caso Josef
    </p>

    <div class="d-flex justify-content-center gap-4 flex-wrap">


        <a asp-controller="Producto"
           asp-action="Index"
           class="btn btn-warning btn-lg">
            Productos
        </a>

        <a asp-controller="Factura"
           asp-action="Index"
           class="btn btn-danger btn-lg">
            Facturas
        </a>

    </div>
</div>